name: pr

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.21"]
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Run tests
        run: go test -v -p 1 ./...
      - uses: goreleaser/goreleaser-action@v5
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro':
          distribution: goreleaser
          version: latest
          args: build --clean --snapshot 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
